.wrapper {
    color: var(--text-black);
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    max-width: 300px;
}

.amountBlock{
    text-align: center;
}

.middleBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    height: 100px;
    align-content: space-between;
}

.blockBottom {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.button {
    max-width: 75px;
}
