.containter {
    padding: 10px 10px;
    width: 100%;
    border-radius: 10px;
    color: var(--white);
    font-size: 20px;
    text-align: center;
    /* margin-left: 10px; */
    cursor: pointer;
    transition: box-shadow 0.3s;
    line-height: 30px;
}

.red {
    background: var(--button-red);
}

.red:hover{
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
