.wrapper {
    color: var(--text-black);
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    max-width: 300px;
}

.split {
    display: flex;
    flex-direction: row;
}

.dropStyle {
    padding: 0 10px;
}
